* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
  /* background-image: -webkit-linear-gradient(270deg, #4542f3, #bbe1e6); */
  background-image: url("../images/body.jpg");
  background-size: cover;
}

p {
  font-size: 16px;
}
.navlink {
  color: #f3f3f3;
  text-decoration: none;
  margin-top: 50px;
  padding: 5px;
}
nav {
  margin-top: 75px;
}
/* fixing the nav formatting in header */
.header nav ul li {
  display: inline;
  justify-content: center;
  list-style-type: none;
  margin-top: 40px;
}
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url("../images/body.jpg");
  clip: rect(0, 100px, 200px, 0);
  color: #f7f7f7;
  display: flex;
  justify-content: space-between;
}
.header h1 {
  display: flex;
  align-items: flex-end;
  font-size: 48px;
  margin-top: 50px;
}
/* image displayed in about me paragraph */
.handstand {
  width: 250px;
  height: 250px;
  margin-right: auto;
  margin-left: 1rem;
}
/* main image in my work article */
.projectOne {
  width: 500px;
  height: 750px;
  margin-right: auto;
  margin-left: auto;
  border: white;
  border-style: solid;
  border-width: 3px;
  padding: 5px;
}
/* overlay box on projectOne */
.inbox {
  width: max-content;
  background-color: rgb(225, 240, 250);
  color: white;
  margin-right: auto;
  margin-left: auto;
  font-size: x-large;
  position: absolute;
  top: 5rem;
}
/* rep & rep2 are small text box overlays */
.rep {
  position: absolute;
  background-color: rgb(28, 3, 119);
  color: white;
  top: 93rem;
  margin-left: 33px;
}
.rep2 {
  position: absolute;
  background-color: rgb(28, 3, 119);
  color: white;
  top: 93rem;
  margin-left: 33px;
}
.screenlabel {
  position: relative;
}
.workcontainer {
  display: flex;

  justify-content: center;
  align-items: center;
}

.My-work {
  margin-right: auto;
  margin-left: auto;
  width: 500px;
  height: 300px;
  margin: 35px;
  position: relative;
  border: white;
  border-style: solid;
  border-width: 3px;
  padding: 5px;
}
#otherwork {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  margin-right: auto;
  margin-left: auto;
}

.information {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: #fafaf9 !important;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: right;
}
.information > h1 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  border-right: 4px solid;
  justify-content: left;
}

#About-me > h1 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  border-right: 4px solid;
}

#paragraph {
  margin-left: 15px;
}

.bigcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#My-work,
#About-me {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 25px 0;
  color: #f7f7f7;
  padding: 5px;
  width: 100%;
}

#My-work > h1 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  border-right: 4px solid;
}
#Contact-me {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
h2 {
  display: flex;
  align-items: flex-start;
  text-align: right;
  padding-right: 15px;
  border-right: 4px solid;
  justify-content: left;
  color: #f1f1f0;
}
#list {
  margin-left: 15px;
}

footer {
  padding: 5px;
  list-style-type: none;
  color: #f1f1f1;
  background-image: url("../images/body.jpg");
}

code-card .card-header {
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
img:hover,
img:hover .card-header {
  box-shadow: inset 0px 0px 100px rgb(243, 243, 243),
    0 0 15px rgb(rgb(4, 0, 230));
}
/* creating display for mobile */
@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    text-align: center;
    padding: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    color: #0e1deb;
    justify-content: center;
    align-content: center;
  }

  .header h1 {
    display: flex;
    font-size: 48px;
    margin-top: 50px;
    background-color: white;
    align-items: center;
  }

  nav ul {
    display: flex;
    flex-direction: column;
  }
  #My-work {
    display: flex;
    flex-direction: column;
  }
  #About-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid 4px white;
  }

  h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
  }
  footer {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
  }

  .rep {
    display: none;
  }
  .rep2 {
    display: none;
  }

  #About-me > h1 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-style: dashed 1 px;
  }
  .handstand {
    width: 250px;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
  }
  @import url("https://fonts.googleapis.com/css?family=Cairo");
  body {
    background-image: linear-gradient(
      to right,
      rgb(222, 238, 245),
      rgb(255, 255, 255)
    );
  }
}
.titleOne {
  font-family: "Cairo";
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  line-height: 2;
}

h1,
h2 {
  background-image: url(https://media4.giphy.com/media/f5kBKQ6oDHE6cyLbVA/giphy.gif?cid=ecf05e47q73t5jec46ci7lwiqf4jj0i060zfmayzqgiyep79&rid=giphy.gif&ct=g);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 120px;
  margin: 10px 0;
}
